# ==========================================================
# AIoT Smart Banana Ripeness Sorting System - Git Ignore
# ==========================================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python runner or spec
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/
cover/

# Translation files
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the user might use a different version
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in git.
#   However, in case of execution platforms it can be excluded.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock is generally committed, but can be excluded in environments
#poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock is generally committed, but can be excluded in environments
#pdm.lock

# virtualenv
#   Common environment names
.venv/
venv/
ENV/
env/
scripts/

# IDE / Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific security exclusions
firebase_credentials.json

# Local temp logs or test artifacts
brain/
scratch/

# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# Zip Files
*.zip
